footer {
    background-color: #FFF8F3;
}

.final-part {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.connect {
    width: 50%;
    margin: 130px 0;
}

#final-title {
    text-align: left;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
}

.connect input {
    display: block;
    margin-bottom: 24px;
    padding: 18px;
    width: 70%;
    border-radius: 5px;
    border: none;
}
.connect textarea {
    margin-bottom: 24px;
    padding: 18px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

.social {
    margin-top: 30px;
}
.social a {
    margin-right: 24px;
}

@media screen and (max-width: 576px) {
    .final-part {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        
    }
    .connect {
        width: 80%;
        margin: 30px auto;
    }
    .connect input {
        width: 100%;
    }
    .connect textarea {
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .final-part {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        
    }
    .connect {
        width: 80%;
        margin: 30px auto;
    }
    .connect input {
        width: 100%;
    }
    .connect textarea {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .final-part {
        width: 80%;
        margin-left: 10%;
        flex-direction: column;
        padding: 40px 0;
        
    }
    .connect{
        margin: 10px 0;
        width: 100%;
        
    }
    .connect input {
        width: 100%;
    }
    .connect textarea {
        width: 100%;
    }

}
