footer {
    background-color: #FFF8F3;
    width: 100%;
}

.final-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.connect {
    padding: 50px 30px;
}

#final-title {
    text-align: left;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
}

.connect input {
    display: block;
    margin-bottom: 24px;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}
.connect form textarea {
    margin-bottom: 24px;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.social {
    margin-top: 30px;
}
.social a {
    margin-right: 24px;
}

@media screen and (max-width: 576px) {
    .final-part {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .final-part {
        grid-template-columns: repeat(1, 1fr);
    }
}

