
/* Navbar Design  */
/* Navbar Design  */
header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* -------- Logo Design ----------  */

.nav-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
}

.logo {
    color: #FD6E0A;
}

.sub-btn {
    
    border: 2px solid #FD6E0A;
    
    
    border-radius: 5px;
    padding: 18px 35px;
    margin-left: 20px;
    
}
.sub-btn a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px 50px 200px;
    
}

nav ul {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}

nav li {
    list-style-type: none;
    margin-right: 80px;
}

#hire-me {
    color: white;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
}

/* Banner Start Here  */

.banner {
    display: flex;
    align-items: center;
    margin: 0 80px 0 200px;
}

.banner-description h3 {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    
}

.banner-description h2 {
    font-weight: 700;
    font-size: 85px;
    color: black;
}

.banner-description p {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    width: 90%;
    margin-bottom: 30px;
}


/* Mobile section Responsive Design  */
/* Mobile section Responsive Design  */
/* Mobile section Responsive Design  */



@media screen and (max-width: 576px) {
    header {
        width: 100%;
    

    }
    nav {
        flex-direction: column;
        justify-content: center;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        
    }
    nav li {
        margin: 15px 0;
    }
    
    .banner {
        flex-direction: column;
    }
    .banner-image {
        display: none;
    }
    .banner {
        flex-direction: column;
        margin: 0;
        text-align: center;
        row-gap: 15px;
        padding: 20px;
    }
    .banner button {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .banner-description p {
        width: 80%;
        margin-left: 10%;
    }
    .banner-description h2 {
        font-size: 44px;
        margin-bottom: 25px;
        margin-top: 25px;
        /* width: 50%;
        margin-left: 25%; */
    }
    .nav-title {
        display: flex;
        justify-content: center;
    }
    
}


/* Medium Device like tab responsive  */
/* Medium Device like tab responsive  */
/* Medium Device like tab responsive  */


@media screen and (min-width: 577px) and (max-width: 768px) {
    header {
        width: 100%;
    

    }
    nav {
        flex-direction: column;
        justify-content: center;

    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        
    }
    nav li {
        margin: 15px 0;
    }
    
    .banner {
        flex-direction: column;
    }
    .banner-image {
        display: none;
    }
    .banner {
        flex-direction: column;
        margin: 0;
        text-align: center;
        row-gap: 15px;
        padding: 20px;
        
    }
    .banner button {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .banner-description p {
        width: 80%;
        margin-left: 10%;
    }
    .banner-description h2 {
        font-size: 44px;
        margin-bottom: 25px;
        margin-top: 25px;
        /* width: 50%;
        margin-left: 25%; */
    }
    .nav-title {
        display: flex;
        justify-content: center;
    }
}


/* Large Device Responsive Design  */
/* Large Device Responsive Design  */
/* Large Device Responsive Design  */


@media screen and (min-width: 769px) and (max-width: 992px){
    

    nav {
        
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        justify-content: center;

    }
    .banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        margin: 0;
    }
    
    .banner-description {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        row-gap: 20px;
        
    }

    .banner-description button {
        width: 80%;
        margin-left: 0;
    }

    .banner-image img {
        border-radius: 20%;
        background-color: #ecb690;
        
    }
    main {
        display: none;
    }
    footer {
        display: none;
    }
}
