#resume-title {
    margin-bottom: 110px;
}

.resume-sub {
    display: flex;
    gap: 24px;
}

.subtitle {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.example {
    margin: 30px 0;
}
.example h4 {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.example h5 {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.example p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    width: 90%;
}


.mid-button {
    text-align: center;
    margin: 50px 0 110px 0;
}
