#paragraph-extra {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;

}

.expertise {
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
}
.expertise-sub {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.expertise-sub img {
    margin-bottom: 30px;
}
.expertise-sub h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.expertise-sub p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    letter-spacing: .8px;
}

